<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	
    <add name="AccountingInstance"
       connectionString="server=localhost;database=LFSDB;user id=acc_user;password=acc_user123"
		 
		 
        providerName="MySql.Data.MySqlClient" /> 
		
  </connectionStrings>
	
</configuration>