<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	
	<add name="LocalFinanceInstance"
	   connectionString="server=Localhost;database=LFSDB;user id=acc_user;password=acc_user123" providerName="MySql.Data.MySqlClient" />
	  
	<add name="RealPropertyTaxInstance"
		 connectionString="server=Localhost;database=rpt_db;user id=rpt_user;password=rpt_user123" providerName="MySql.Data.MySqlClient" />
	  
  </connectionStrings>
	
</configuration>